# OBJECTIVE
- ### To analyse/visualise customer satisfaction metrics; customer sentiments and confidence scores.
- ### Data : From customer survey.

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
data = pd.read_csv('sentiment-analysis.csv', sep=',')
data.head()

,Text,Sentiment,Source,Date/Time,User ID,Location,Confidence Score
0,I love this product!,Positive,Twitter,2023-06-15 09:23:14,@user123,New York,0.85
1,The service was terrible.,Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,0.65
2,This movie is amazing!,Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,0.92
3,I'm so disappointed with their customer support.,Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,0.78
4,Just had the best meal of my life!,Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,0.88

# THE PLAN
1. Rank products by most positive %
2. Rank products by most confidence score
3. Pi-chart for +ve vs -ve
4. Add 'Year' Column
5. Bar graphs for count of +ve vs -ve by year.
6. Line graph for confidence score by year.

In [6]:
def to_long(df, col1, col2):

    grouped_df = df[[col1, col2]].groupby([col1, col2]).value_counts().to_frame().reset_index()
    new_df = pd.DataFrame(sorted(df[col1].unique()), columns=[col1])
    new_cols = df[col2].unique()
    
    for col in new_cols:
        new_df = new_df.merge(grouped_df[grouped_df[col2]==col], how='left')
        new_df.drop(columns=col2, inplace=True)
        new_df.rename(columns={'count':col}, inplace=True)
        new_df.replace(np.nan, 0, inplace=True)

    return new_df

### 1. Rank products by most positive %

In [8]:
pos_percent = to_long(data, 'Source', 'Sentiment')
pos_percent['%_Positive'] = (pos_percent['Positive'] / (pos_percent['Positive'] + pos_percent['Negative']))#.transform(lambda x: f'{x: 0.00%}')
pos_percent.sort_values(by=['%_Positive', 'Source'], ascending=[False, True], inplace=True)

In [10]:
all_pos = pos_percent[pos_percent['%_Positive']==1]
all_pos['%_Positive'] = all_pos['%_Positive'].transform(lambda x : f'{x:0.0%}')
all_pos

C:\Users\kawen\AppData\Local\Temp\ipykernel_3376\572357957.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_pos['%_Positive'] = all_pos['%_Positive'].transform(lambda x : f'{x:0.0%}')

                 Source  Positive  Negative %_Positive
2            Art Review       1.0       0.0       100%
3          Event Review       3.0       0.0       100%
4             Food Blog       1.0       0.0       100%
5          Gaming Forum       1.0       0.0       100%
9          Music Review       3.0       0.0       100%
14         Retail Store       2.0       0.0       100%
15              Spotify       9.0       0.0       100%
17    Theme Park Review       3.0       0.0       100%
18          Travel Blog       1.0       0.0       100%
20          Trip Report       2.0       0.0       100%
21          TripAdvisor       6.0       0.0       100%
22              Twitter       2.0       0.0       100%
24  Website Testimonial       4.0       0.0       100%

In [12]:
all_neg = pos_percent[pos_percent['%_Positive']==0]
all_neg['%_Positive'] = all_neg['%_Positive'].transform(lambda x : f'{x:0.0%}')
all_neg

C:\Users\kawen\AppData\Local\Temp\ipykernel_3376\2955524002.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_neg['%_Positive'] = all_neg['%_Positive'].transform(lambda x : f'{x:0.0%}')

             Source  Positive  Negative %_Positive
0    Airline Review       0.0       1.0         0%
1    Amazon Reviews       0.0       2.0         0%
7      Hotel Review       0.0       2.0         0%
11     Online Forum       0.0       2.0         0%
12  Online Helpdesk       0.0       2.0         0%
16   TV Show Review       0.0       1.0         0%
19   Travel Website       0.0       1.0         0%
23   Website Review       0.0       7.0         0%

In [14]:
inbtw = pos_percent[pos_percent['%_Positive']>0][pos_percent['%_Positive']<1]
inbtw['%_Positive'] = inbtw['%_Positive'].transform(lambda x : f'{x:0.0%}')
inbtw

C:\Users\kawen\AppData\Local\Temp\ipykernel_3376\3500514341.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  inbtw = pos_percent[pos_percent['%_Positive']>0][pos_percent['%_Positive']<1]

          Source  Positive  Negative %_Positive
8           IMDb       5.0       1.0        83%
6      Goodreads       4.0       2.0        67%
10   Online Chat       2.0       2.0        50%
25  Yelp Reviews       2.0       4.0        33%
26        Zomato       1.0       6.0        14%
13  Online Store       1.0      10.0         9%

### 2. Rank products by most confidence score

In [ ]:
data.

### 3. Pi-chart for +ve vs -ve

### 4. Add 'Year' Column

### 5. Bar graphs for count of +ve vs -ve by year.

### 6. Line graph for confidence score by year.